@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-200;
  }

  html.dark body,
  body.dark {
    @apply bg-[#141414] text-gray-100;
  }

  /* 添加 placeholder 样式 */
  input::placeholder {
    @apply text-gray-500;
  }

  html.dark input::placeholder,
  body.dark input::placeholder {
    @apply text-gray-300;
  }
}
